#background{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: absolute;
	top: 0;
	width: 100vw; 
	z-index: -3;
}
#overlay{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: absolute;
	top: 0;
	width: 100vw; 
	z-index: -2;
}
#foreground{
    align-items: center;
    color: #c7c7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
	z-index: -1;
}
.forecast{
	max-width: 75vw;
	overflow-x: auto;
	overflow-y: hidden;
}
thead tr td:first-child{
	border-top-left-radius: .5rem;
}
thead tr td:last-child{
	border-top-right-radius: .5rem
}
tbody tr:last-child td:first-child {
    border-bottom-left-radius: .5rem;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: .5rem;
}
.forecast tbody{
	background-color: #6c757d80;
}
.forecast td {
	color: #FFF;
	width: calc(75vw/10);
	padding: .25rem;
}
.forecast .table td{
	border-top: none;
}
.forecast .wi{
	font-size: 2rem;
}
.location{
	position: absolute;
	top: 1rem;
	left: 1rem;
}
.date{
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.container{
	position: absolute;
	top: 100vh;
	z-index: 9000;
}
.yahoo{
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}
.yahoo,
.yahoo a{
	color: #FFF;
}